<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>iphone 7的30天内回收平均价格3360元-麦淘乐 - 二手数码回收平台</title>
    <meta name="keywords" content="iphone 7 iphone7 7 苹果7 苹果 7"/>
    <meta name="description" content="iphone 7 iphone7 7 苹果7 苹果 7"/>
    <meta name="baidu-site-verification" content="IpuQLFxZiC"/>
    <meta name="chinaz-site-verification" content="081e7651-48c6-4c2f-a569-99321685eab1"/>
    <meta name="applicable-device" content="pc">
 <link href="http://www.qfedu.com/favicon.ico" type="image/x-icon" rel="Icon">
    <link href="../css/new_css/global.css" rel="stylesheet" type="text/css">
    <script src="../js/new_js/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="../js/new_js/new_public.js" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
    <link href="../css/new_css/sub.css" rel="stylesheet" type="text/css">
    <script src="../js/public.js" type="text/javascript"></script>
    <script src="../js/new_js/menu.js" type="text/javascript"></script>
    <script src="../js/new_js/new_goods.js" type="text/javascript"></script>
    <script src="../js/price.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="../css/alert_zhe.css"/>
<script type="text/javascript" src="../js/alert_zhe.js"></script>
<!--头部--><!--手机回收-->
<div class="recovery">
    <script type="text/javascript">
        $(document).ready(function () {
            $(".new_search_btn").click(function () {
                $(".new_search").slideToggle();
            });
        });
    </script>
    <div class="page2" style="position:relative">
        <div class="new_search_btn" style="position:absolute; left:-40px; top:-11px; cursor:pointer;"><img
                src="../images/new_images/search_btn.png" alt="搜索您要评估价格的机型"/></div>
        
        <div style="height:30px; line-height:30px; font-size:14px;"><a href="">首页</a> &gt;<a
                href="ershoushouji.html">手机</a> &gt;<a href="ershouiphone.html"> iPhone</a> &gt; iphone 7
        </div>
        <div class="heat_l">
            <div class="heat_img">
                <img src="http://img.ihuigo.com/goods/739b3910f020832305a94a6a96eec952.jpg" alt="iphone 7回收价格评估"
                     width="264" height="197"/>
            </div>
            <div class="heat_txt">
                <div class="heat_name"><span>iphone 7</span></div>
                <dl class="heat_ts">
                    <dd><em>3360</em>元<br/>
                        30天内回收最高价
                    </dd>
                    <dt class="clear"></dt>
                </dl>
                <div class="heat_bao"><img src="../images/new_images/icon10.gif" alt="iphone 7回收免费享受第三方理赔服务"/>可免费享受第三方理赔服务
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <script src="../js/new_js/morris/raphael-2.1.0.min.js"></script>
        <script src="../js/new_js/morris/morris.js"></script>
        <link rel="stylesheet" href="../js/new_js/morris/morris.css">
        <div class="heat_r">
            <div class="heat_title"><span>回购价格趋势</span><samp>单位：元</samp></div>
            <div class="heat_pic">
                <div id="graph" style="width:360px; height:210px; margin-top:0px;"></div>
            </div>
            <script>
                var day_data = [
                    {"elapsed": "7", "价格": "2614"}
                    , {"elapsed": "8", "价格": "2607"}
                    , {"elapsed": "9", "价格": "2660"}
                    , {"elapsed": "10", "价格": "2822"}
                    , {"elapsed": "11", "价格": "2929"}
                ];
                Morris.Line({
                    element: 'graph',
                    data: day_data,
                    xkey: 'elapsed',
                    ykeys: ['价格'],
                    labels: ['价格'],
                    parseTime: false
                });
            </script>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--手机回收-->
<!--评估流程-->
<div id="ahs_trade_body">
    <input type="hidden" id="view" value="goods_info"/>
    <input type="hidden" id="if_show_price" value="1"/>
    <input type="hidden" id="gid" name="gid" value="21025"/>
    <input type="hidden" id="package_id" name="package_id" value="571"/>
    <div id="ahs_property_head">
        <p>开始评估你的手机，只需3步，获得产品精准评估报价</p>
        <!--步骤一-->
        <div class="speed" id="speed1"><img src="../images/new_images/step1.gif" alt="第1步评估手机的基本情况"/></div>
        <!--步骤一-->
        <!--步骤二-->
        <div class="speed" id="speed2"><img src="../images/new_images/step2.gif" alt="第2步评估手机的功能使用情况"/></div>
        <!--步骤二-->
        <!--步骤三-->
        <div class="speed" id="speed3"><img src="../images/new_images/step3.gif" alt="第一步评估手机的外观成色"/></div>
        <!--步骤三-->
    </div>
    <div id="ahs_property_body">
        <!--第一步-->
        <div id="property_step1">
            <dl id="first">
                <dd v-for="(type,index) in firstList">
                    <input type="hidden"  name="property[]" :id="'property_'+index" value="0"/>
                    <div class="property_title"><h3>{{type.pName}}</h3></div>
                    <ul>
                        <li v-for="ctype in type.pCtypeList" :id="index"  class="" onClick="price(this,'version','') "  name="sx_child_1">
                                <input :id="'price1'+index" :name="index" type="hidden" :value="ctype.cPrice"/>
                            <div class="pro_div"><span class="property_value"><i>{{ctype.cName}}</i><ins>{{ctype.cDesc}}</ins></span><span
                                    class="gou"></span></div>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </dd>
                <div id="step1_nav" class="property_nav">
                    <!--btn_step1_next-->
                    <div onclick="price_1()" id="btn_step1_next" class="btn_next">下一步</div>
                </div>
            </dl>
        </div>
        <!--第一步-->
        <!--第二步-->
        <div id="property_step2" class="hide">
            <dl id="second">
                <dd v-for="sec in secondList">
                    <div class="property_title">
                        <h3>{{sec.pName}}</h3>
                    </div>
                    <ul >
                        <input type="hidden" name="desc_pid[]" value="944"/>
                        <input type="hidden" name="desc_id[]" id="desc_id_944" value="945"/>
                        <li v-for="csec in sec.pCtypeList" class=""  onClick="item_click(this,'944','946','945')" name="mx_child_944">
                            <input  type="hidden" :value="csec.cPrice"/>
                            <div class="pro_div"><span class="property_value"><i>{{csec.cName}}</i><ins>{{csec.cDesc}}</ins></span>
                                <span class="gou"></span></div>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </dd>
            </dl>
            <div id="step2_nav" class="property_nav">
                <div id="btn_step2_back" class="btn_back">< 返回上一步</div>
                <div id="btn_step2_next" class="btn_next" onclick="price_2()">都没问题，跳过 ></div>
            </div>
        </div>
        <!--第二步-->
        <script type="text/javascript">

        </script>
        <!--第三步-->
        <div id="property_step3" class="hide">
            <dl id="thirdly">
                <dd class="" id="pingu_mx_659" v-for="(thir,inds) in thirdlyList">
                    <input type="hidden" name="desc_pid[]" value="659"/>
                    <input type="hidden" name="desc_id[]" id="desc_id_659" value="1"/>
                    <input type="hidden"  name="property[]" :id="'proper_thir'+inds" value="0"/>
                    <div class="property_title"><h3>{{thir.pName}}</h3></div>
                    <ul>
                        <li v-for="cthir in thir.pCtypeList" :id="'thir'+inds" class="" onClick="price_3(this,'659','660')" name="mx_child_659">
                            <input  type="hidden" :name="'thir'+inds" :value="cthir.cPrice"/>
                            <div class="pro_div"><span class="property_value"><i>{{cthir.cName}}</i><ins>{{cthir.cDesc}}</ins></span><span
                                    class="gou"></span></div>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </dd>
            </dl>
            <div id="step3_nav" class="property_nav">
                <div id="btn_step3_back" class="btn_back">< 返回上一步</div>
                <div id="btn_step3_next" class="btn_next"
                     onclick="getImputed('ajax/new_get_pg_price.html','show_price')">查看价格 >
                </div>
            </div>
        </div>
        <!--第三步-->
    </div>
</div>
<!--评估流程-->
<!--隐藏的评估描叙选项start-->
<div style="display:none; background-color:#CCCCCC;">
</div>
<!--隐藏的评估描叙选项end-->
<script>
    $(document).ready(function () {
        // $("#step1_nav .btn_next").bind('click', step1_next);
        // $("#step2_nav .btn_next").bind('click', step2_next);
        $("#step2_nav .btn_back").bind('click', step2_back);
        $("#step3_nav .btn_back").bind('click', step3_back);

        $("input[name='property[]']").each(function () {
            $(this).val(0);
        })
        $("#property_step1 input[name='desc_id[]']").each(function () {
            $(this).val(0);
        })
        $("#property_step3 input[name='desc_id[]']").each(function () {
            $(this).val(0);
        })
        $("#pj_ids").val(0);
    })
</script>
<!--[if lte IE 6]>
<script src="../js/new_js/png.js" type="text/javascript"></script>
<script type="text/javascript">
    DD_belatedPNG.fix('img,.banner ul, li, dl, dt, dd, span, em, div, i, samp, a, b, .kuang');
</script>
<![endif]-->
<script type="text/javascript">
    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null){
            return decodeURI(r[2]);
        }
        return null;
    }

    var phone=GetQueryString("phoneId");
    console.log(phone);
    new Vue({
        el:"#first",
        data:{
            firstList:null
        },

        mounted(){
            axios.post("../type",{phone:phone,page:"1"})
            //此处this代表是vue对象
                .then(response =>{this.firstList = response.data;})
        }
    });
    new Vue({
        el:"#second",
        data:{
            secondList:null
        },

        mounted(){
            axios.post("../type",{phone:phone,page:"2"})
            //此处this代表是vue对象
                .then(response =>{this.secondList = response.data;})
        }
    });
    new Vue({
        el:"#thirdly",
        data:{
            thirdlyList:null
        },

        mounted(){
            axios.post("../type",{phone:phone,page:"3"})
            //此处this代表是vue对象
                .then(response =>{this.thirdlyList = response.data;})
        }
    });
</script>
<script type="text/javascript">
    function getImputed() {
        //axios的get请求。get方法中放的URL。then是后台服务器返回的数据接收方法（回调函数）
        //response是后台返回的数据参数
        // axios.get("http://localhost:8080/springmvc/book/page/1").then(function (response) {
        //     alert(response.data)
        // })
        function GetQueryString(name)
        {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null){
                return decodeURI(r[2]);
            }
            return null;
        }
        var flag	=	true;
        $("#property_step3 input").each(function(){
            if($(this).val()==0){
                flag=false;
                return false;
            }
        });
        if(!flag){
            alert('请选择评估参数');
            return false;
        }
        var price=GetQueryString("phonePrice");
        var phoneId=GetQueryString("phoneId")
        console.log("原价"+price)
        var arr=new Array();
        $(".selected").each(function(){
            arr.push( $(this).find("input").val());
        });
        var array=new Array();
        $(".selected").each(function(){
            array.push($(this).find(".property_value i").text());
        });
        console.log(arr);
        axios.post("../imputed",{imputedList:arr,phonePrice:price,phoneId:phoneId,type:array})
            .then(function (response) {
                //调用成功，执行then response.data
                window.location.href="price1.html";

            }).catch(function (exception) {
            //失败就会执行catch方法
            //获取后台错误
        })
    }
</script>
</body>
</html>
