<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.user.mapper.UserMapper">

    <resultMap id="baseResultMap" type="com.qianfeng.user.po.TbUser">
        <id property="userId" column="user_id" javaType="java.lang.Long"/>
        <result property="passwordSalt" column="password_salt" javaType="java.lang.String"/>
    </resultMap>

    <!--登录的SQL-->
    <select id="checkUsername" resultMap="baseResultMap">
        select user_id,username,password,password_salt from tb_user where username=#{username};
    </select>

    <select id="queryPermissionByUsername" resultType="java.lang.String">
        select p.permission_name from tb_user u join tb_role r join tb_permission p
            on u.user_id=r.user_id
            and r.role_id = p.role_id
            and u.username=#{username};
    </select>
</mapper>