<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.fxmall.goods.mapper.GoodsMapper">

    <resultMap id="baseResultMap" type="com.qianfeng.fxmall.goods.bean.WxbGood">
        <id property="goodId" column="good_id"/>
        <result property="goodName" column="good_name"/>
        <result property="customerId" column="customer_id"/>

        <result property="goodPic" column="good_pic"/>

        <result property="goodPic1" column="good_pic1"/>

        <result property="goodPic2" column="good_pic2"/>

        <result property="promoteDesc" column="promote_desc"/>

        <result property="skuTitle" column="sku_title"/>

        <result property="skuCost" column="sku_cost"/>

        <result property="skuPrice" column="sku_price"/>

        <result property="skuPmoney" column="sku_pmoney"/>

        <result property="copyIds" column="copy_ids"/>

        <result property="copyDesc" column="copy_desc"/>

        <result property="forwardLink" column="forward_link"/>

        <result property="orderNo" column="order_no"/>

        <result property="typeId" column="type_id"/>

        <result property="tags" column="tags"/>

        <result property="state" column="state"/>

        <result property="createTime" column="create_time"/>

        <result property="toped" column="toped"/>

        <result property="recomed" column="recomed"/>

        <result property="topedTime" column="toped_time"/>

        <result property="recomedTime" column="recomed_time"/>

        <result property="spcId" column="spc_id"/>

        <result property="zonId" column="zon_id"/>

        <result property="sellNum" column="sell_num"/>

        <result property="website" column="website"/>

        <result property="iswxpay" column="iswxpay"/>

        <result property="isfdfk" column="isfdfk"/>

        <result property="leixingId" column="leixing_id"/>

        <result property="kfqq" column="kfqq" />

    </resultMap>

    <!--sql标签用来定义SQL语句，或者是部分SQL语句-->
    <sql id="params">
        good_id,good_name,customer_id,good_pic,good_pic1,good_pic2,promote_desc,sku_title,sku_cost,
     sku_price,sku_pmoney,copy_ids,copy_desc,forward_link,order_no,type_id,tags,state,create_time,
     toped,recomed,toped_time,recomed_time,spc_id,zon_id,sell_num,website,iswxpay,isfdfk,leixing_id,kfqq
    </sql>

    <select id="queryGoodsByPage" resultMap="baseResultMap">
        select  <include refid="params"/> from wxb_good limit #{index},#{size}
    </select>

    <select id="queryGoodsById" resultMap="baseResultMap">
        select <include refid="params"/> from wxb_good where good_id=#{goodId}
    </select>


</mapper>